.createAlbumView__addPhotoButton {
    position: fixed !important;
    right: 110px;
    bottom: 30px;
}

.createAlbumView__addButton {
    position: fixed !important;
    right: 30px;
    bottom: 30px;
}

.createAlbumView__dropzone {
    position: relative;
    margin-top: 100px;
    left: 25%;
    top: 35%;
    width: 45%;
    text-align: center;
}

.createAlbumView__dropzone__uploadButtonContainer {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    border-color: lightgray;
    border-style: solid;
    max-width: 200px;
    height: 50px;
    padding: 40px;
}

.createAlbumView__dropzone__uploadButtonIcon {
    width: 40px !important;
    height: 40px !important;
    font-size: x-large;
    color: #007bff;
    margin-right: 25px;
}
