.titleBar__mainBar {
    color: rgb(0, 188, 212);
}

.titleBar__appBar {
    margin-left: 240px;
}

.titleBar__menuButton {
    margin-right: 20px;
}

.titleBar__iconButtonHide {
    display: none;
}

.titleBar__drawer {
    width: 200px;
    flex-shrink: 0;
}

.titleBar__drawerPaper {
    margin-top: 64px;
    width: 240px;
}

.titleBar__drawerHeader {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: flex-end;
    min-height: 64px;
}
