.header {
    padding-top: var(--mantine-spacing-sm);
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), transparent);
}

.mainSection {
    padding-bottom: var(--mantine-spacing-sm);
}

.user {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    transition: background-color 100ms ease;

    &:hover {
        background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    }

    @media (max-width: $mantine-breakpoint-xs) {
        display: none;
    }
}

.userActive {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}
