.albumItem__cardWrapper {
    width: 200px;
    height: 270px;
    border: 50px;
    margin-bottom: 40px;
    margin-right: 30px;
}

.albumItem__cardImage {
    height: 200px;
    border-radius: .5rem;
}
