html, body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
}

a {
    color: unset;
    text-decoration: none;
}

.header {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px 0px;
    margin: 0 0 10px;
}

.description {
    padding: 6px 30px;
    margin: 0;
    font-weight: 400;
}

.description li {
    padding: 3px 0px;
}

.wrapper {
    margin-top: 50px;
}

.container {
    width: 100%;
    height: 600px;
}

.item {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    opacity: 1;
}

.masonrygrid.horizontal .item {
    width: auto;
    height: 250px;
}

.item .thumbnail {
    overflow: hidden;
    border-radius: 8px;
    font-size: 0;
    height: calc(100% - 5px);
}

.item .thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #fff;
    /*object-fit: contain;*/
}

.masonrygrid.horizontal .item .thumbnail img {
    width: auto;
    height: 210px;
}

.item.animate {
    transition: opacity ease 1s;
    transition-delay: 0.2s;
    opacity: 1;
}

.placeholder {
    width: 250px;
    border-radius: 5px;
    background: #fff;
    height: 250px;
}

.loading {
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}